14-09-2021/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.student.in" elementFormDefault="qualified">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="student">
      <xs:complexType>
      <xs:simpleContent>
      <xs:extension base="xs:string">
            <xs:attribute name="fname" type="xs:string" />
            <xs:attribute name="lname" type="xs:string" />
      </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    </xs:element>
    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
